body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1a1a1a;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #555;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 1.75rem;
    margin-top: 20px;
    color: #333;
}

p {
    margin-bottom: 15px;
    color: #666;
}

strong {
    font-weight: bold;
    color: #050505;
}

#capital, #lenguaje {
    font-weight: normal;
    color: #007BFF;
}




