body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 20px;
}

hr {
    border: 1px solid #ccc;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

#Idc {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#tabla {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    background-color: white;
}

#tabla th, #tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabla th {
    background-color: #f2f2f2;
}

#lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
}
