/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center all content */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

section {
    margin: 20px;
}

/* Estilos específicos para las secciones */
#seleccionRaza {
    border: 1px solid #ddd;
    padding: 15px;
}

#seleccionRaza h2 {
    color: #333;
}

#razasCombo {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cargarRazas {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

#imagenPerro {
    margin-top: 20px;
}

#imagenPerro h2 {
    color: #333;
}

#verImagenBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    text-align: center;
}

#cuadroImagen {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}