/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  #Idc {
    width: calc(100% - 24px);
    padding: 16px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
    outline: none;
  }
  
  #Idc:focus {
    border-color: #3498db;
  }
  
  #btnBuscar, #btnLimpiar {
    width: 48%;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f064cd;
    color: #222121;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  #btnBuscar:hover, #btnLimpiar:hover {
    background-color: #297fb8;
  }
  
  #lista {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #lista th, #lista td {
    border: 2px solid #d3a8a8;
    padding: 18px;
    text-align: left;
  }
  
  #lista th {
    background-color: #3498db;
    color: #0f0e0e;
  }
  
  #lista tr:hover {
    background-color: #5a8c99;
  }
  
  .columna1 {
    width: 20%;
  }
  
  .columna2 {
    width: 30%;
  }
  
  .columna3 {
    width: 30%;
  }
  
  .columna4 {
    width: 20%;
  }
  
  #lista img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  