/* Reset de estilos y ajustes generales */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Estilos para la sección de prácticas */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.practicas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.practica {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.practica a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    display: block;
    transition: color 0.3s ease;
}

.practica:hover {
    background-color: #f0f0f0;
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #3498db;
    transition: color 0.3s ease;
}

a:hover {
    color: #217dbb;
}
