/* esti1.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  max-width: 600px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #3498db;
  text-align: left;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 2px solid #3498db;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 100%;
  font-size: 16px;
}

input:focus {
  border-color: #2977b9;
}

button {
  padding: 14px;
  background-color: #3498db;
  color: #fff;
  border: 1px solid #2977b9;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
}

button:hover {
  background-color: #2977b9;
  transform: scale(1.05);
  border-color: #255580;
}
