body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff; /* Azul claro */
    color: #333; /* Color gris oscuro */
}

header {
    background-color: #007acc; /* Azul */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Blanco */
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007acc; /* Azul */
    color: #fff;
}

tr:hover {
    background-color: #d9edf7; /* Azul claro al pasar el ratón */
}

.columna1 {
    width: 20%;
}

.columna2 {
    width: 40%;
}

.columna3 {
    width: 40%;
}

footer {
    background-color: #4cae4c; /* Verde */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
}
